<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/defaults.xml" />
    <include resource="org/springframework/boot/logging/logback/console-appender.xml" />

    <appender name="console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%d{yyyy-MM-dd HH:mm:ss} [%-5p] [%F]%M\(%L\) : %m%n</pattern>
        </layout>s
    </appender>

    <logger name="io.zingoworks" level="DEBUG"/>
    <logger name="io.swagger.models.parameters.AbstractSerializableParameter" level="ERROR" />

    <root level="INFO">
        <appender-ref ref="console"/>
    </root>
</configuration>